#spring.application.name=Ecommerce_SB
# spring.h2.console.enabled=true
#spring.datasource.url=jdbc:h2:mem:test
##spring.datasource.url=jdbc:h2:file:/data/testdb
#spring.jpa.show-sql=true
#spring.jpa.hibernate.ddl-auto=update
#spring.h2.console.settings.web-allow-others=true
#management.endpoints.web.exposure.include=*
#management.endpoint.info.enabled=true
#
#
#info.app.name=MyNewApp
#info.app.description=Learning Spring Boot
#info.app.version=1.0
spring:
  application:
    name: Ecommerce_SB

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

  datasource:
    url: jdbc:h2:mem:test

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: always
      show-components: always


  info:
    env:
      enabled: true

info:
  app:
    name: MyNewApp
    description: Learning Spring Boot
    version: 1.0
